<div [hidden]="!isLoading">
    <p>Loading...</p>
</div>

<div [hidden]="isLoading" class="jumbotron jumbotron-styles">
    <h1 class="display-4">{{menu.name}}</h1>
    <p class="lead">{{menu.description}}</p>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <p><i>Procedures</i></p>
            <ul>
                <li *ngFor="let procedure of menu.procedures">
                    <p>{{procedure}}</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <p><i>Ingredients</i></p>
            <ul>
                <li *ngFor="let ingredients of menu.ingredientNames; index as i">
                    <p><a routerLink="/ingredients/{{menu.ingredientIds[i]}}">{{ingredients}}</a></p>
                </li>
            </ul>
        </div>
    </div>
    <p>Price: {{menu.price}}</p>
    <p>Available Stock: {{menu.stock}}</p>
    <p class="lead">
        <button *appRequiresAuth="true" (click)="onAddToCart()" type="button" class="btn btn-success">Add To Cart</button>
    </p>
</div>